[Desktop Entry]
Name=Store
Comment=Mime handler for feren-store
Exec=feren-store-fp-handler %u
Icon=softwarecenter
Terminal=false
Type=Application
Encoding=UTF-8
NoDisplay=true
MimeType=application/vnd.flatpak.ref;application/vnd.flatpak.repo
