[Desktop Entry]
Name=Store
Comment=Install new applications
Exec=feren-store
Icon=softwarecenter
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
